**/tempCodeRunnerFile.pas
**/Aufgabe*/Aufgabe_4
**/Aufgabe*/Aufgabe_1.o
*Aufgabe_1.o
Imperative_Programmierung/Aufgabenheft_4/tempCodeRunnerFile.pas
Imperative_Programmierung/Aufgabenheft_4/Aufgabe_1.o